<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833522929114-g0niev1gla0huemeejgb2bj8d74ph6fh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833522929114-g0niev1gla0huemeejgb2bj8d74ph6fh</string>
	<key>API_KEY</key>
	<string>AIzaSyCN9C8z6ephNJPq-9w8WOVkXu5di5-aE0A</string>
	<key>GCM_SENDER_ID</key>
	<string>833522929114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demochatting</string>
	<key>PROJECT_ID</key>
	<string>demochatting-3e720</string>
	<key>STORAGE_BUCKET</key>
	<string>demochatting-3e720.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833522929114:ios:333f05ba90abdc72a584e3</string>
</dict>
</plist>